<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Order</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body class="bg-light text-secondary">
<div class="container mt-5">
    <h1 class="h3 mb-3 fw-normal">Create Group Order</h1>
    <form action="#" th:action="@{'/restaurant/'+${restaurantId}+'/group-order/create'}" method="post">
        <label for="employeeName" class="form-label">Employee Name</label>
        <input type="text" class="form-control" th:field="*{newGroupOrder.groupOrderEmployeeName}" id="employeeName"
               name="employeeFirstName" placeholder="Enter your name">
        <p th:if="${#fields.hasErrors('newGroupOrder.groupOrderEmployeeName')}"
           th:errors="*{newGroupOrder.groupOrderEmployeeName}" class="alert alert-warning w-50 mt-2"></p>
        <br>
        <label for="orderTimeout" class="form-label">Order Timeout</label>
        <input type="text" class="form-control" th:field="*{newGroupOrder.groupOrderTimeout}" id="orderTimeout"
               name="orderTimeout" placeholder="Enter order timeout">
        <p th:if="${#fields.hasErrors('newGroupOrder.groupOrderTimeout')}"
           th:errors="*{newGroupOrder.groupOrderTimeout}" class="alert alert-warning w-50 mt-2"></p>
        <br>
        <input type="submit" class="btn btn-primary mt-3" value="Create Order"/>
    </form>
</div>
</body>
</html>