<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Munchies</title>
</head>
<body>
<h1>Edit Restaurant</h1>
<form>
  <label for="restaurantName">Restaurant name</label>:
  <input type="text" id="restaurantName" name="restaurantName">
  <br>
  <label for="restaurantAddress">Restaurant Address</label>:
  <input type="text" id="restaurantAddress" name="restaurantAddress">
  <br>
  <label for="phoneNumber">Phone Number</label>:
  <input type="text" id="phoneNumber" name="phoneNumber">
  <br>
  <label for="menuUrl">Menu URL</label>:
  <input type="text" id="menuUrl" name="menuUrl">
  <br>
  <label for="deliveryTime">Delivery Time</label>:
  <input type="text" id="deliveryTime" name="deliveryTime">
  <br>
  <label for="additionalCharges">Additional Charges</label>:
  <input type="text" id="additionalCharges" name="additionalCharges">
  <br>
  <input type="submit" value="Edit Restaurant" />
</form>

</body>
</html>