<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Group Order</title>
</head>
<body>
<h1>Group Order</h1>
<h2>Order Info</h2>
<table border="1">
    <tr>
        <td>Order URL</td>
        <td>Order Timeout</td>
        <td>Order Creator</td>
        <td>Restaurant Name</td>
        <td>Restaurant Phone</td>
        <td>Menu URL</td>

    </tr>
    <tr>
        <td th:text="'http://localhost:8080/restaurant/' + ${groupOrder.restaurantId} + '/group-order/create/' + ${groupOrder.groupOrderId}"></td>
        <td th:text="${groupOrder.timeout}"></td>
        <td th:text="${groupOrder.groupOrderEmployeeName}"></td>
        <td th:text="${groupOrder.restaurantName}"></td>
        <td th:text="${groupOrder.restaurantPhoneNumber}"></td>
        <td th:text="${groupOrder.restaurantMenuUrl}"></td>
    </tr>
</table>
<br>
<h2>Selection</h2>
<div th:switch="${isActive}">
    <form action="#" th:action="@{'/restaurant/'+${restaurantId}+'/group-order/selection-create'}" method="post" th:case="${true}">
        <label for="orderItemEmployeeName">Employee Name</label>
        <input type="text" th:field="*{orderItemCreation.orderItemEmployeeName}" id="orderItemEmployeeName"
               name="orderItemEmployeeName">
        <br>
        <label for="orderItemDescription">Item Name</label>
        <input type="text" th:field="*{orderItemCreation.orderItemDescription}" id="orderItemDescription"
               name="orderItemDescription">
        <br>
        <label for="orderItemPrice">Item Price</label>
        <input type="text" th:field="*{orderItemCreation.orderItemPrice}" id="orderItemPrice" name="orderItemPrice">
        <br>
        <input type="submit" value="Create Selection"/>
    </form>
    <p th:case="${false}">Time Expired!</p>
</div>
<br>
<h2>Table of All Selections</h2>
<table border="1">
    <tr>
        <td>Employee Name</td>
        <td>Item Name</td>
        <td>Item Price</td>
    </tr>
    <tr th:each="orderItem : ${orderItemsResponse}">
        <td th:text="${orderItem.orderItemEmployeeName}"></td>
        <td th:text="${orderItem.orderItemDescription}"></td>
        <td th:text="${orderItem.orderItemPrice}"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td th:text="'Total: ' + ${total}"></td>
    </tr>
</table>

</body>
</html>