<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Munchies</title>
</head>
<body>
<div align="center">
    <h1>Restaurant Details</h1>
    <br>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Short Name</td>
            <td>Address</td>
            <td>Phone</td>
            <td>Menu URL</td>
            <td>Delivery Time</td>
            <td>Additional Charges</td>
            <td>Delete/Update</td>

        </tr>
        <tr>
            <td th:text="${restaurantDetails.restaurantName}"></td>
            <td th:text="${restaurantDetails.restaurantShortName}"></td>
            <td th:text="${restaurantDetails.restaurantAddress}"></td>
            <td th:text="${restaurantDetails.restaurantPhoneNumber}"></td>
            <td th:text="${restaurantDetails.restaurantMenuUrl}"></td>
            <td th:text="${restaurantDetails.deliveryInfoRequestDTO.getDeliveryInfoTime()}"></td>
            <td th:text="${restaurantDetails.deliveryInfoRequestDTO.getDeliveryInfoAdditionalCharges()}"></td>
            <td>
                <a href="#" th:href="@{'/restaurant-delete/'+${restaurantDetails.restaurantID}}" >Delete</a>
                <a href="#" th:href="@{'/restaurant/update.form/'+${restaurantDetails.restaurantID}}" >Update</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>