<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Munchies</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body class="bg-light text-dark">
<div align="center" class="mt-5">
    <h1 class="text-secondary">Restaurant Details</h1>
    <br>
    <table class="table table-hover w-75 p-3 mt-2">
        <tr class="table-primary h6 text-secondary">
            <td>Name</td>
            <td>Short Name</td>
            <td>Address</td>
            <td>Phone</td>
            <td>Menu URL</td>
            <td>Restaurant Created</td>
            <td>Restaurant Updated</td>
            <td>Delivery Time</td>
            <td>Additional Charges</td>
        </tr>
        <tr>
            <td th:text="${restaurantDetails.restaurantName}"></td>
            <td th:text="${restaurantDetails.restaurantShortName}"></td>
            <td th:text="${restaurantDetails.restaurantAddress}"></td>
            <td th:text="${restaurantDetails.restaurantPhoneNumber}"></td>
            <td th:text="${restaurantDetails.restaurantMenuUrl}"></td>
            <td th:text="${restaurantDetails.restaurantCreated}"></td>
            <td th:text="${restaurantDetails.restaurantUpdated}"></td>
            <td th:text="${restaurantDetails.deliveryInfoTime}"></td>
            <td th:text="${restaurantDetails.deliveryInfoAdditionalCharges}"></td>
        </tr>
    </table>
    <div class="mt-5">
        <a href="#" th:href="@{'/restaurant/update.form/'+${restaurantDetails.restaurantId}}" class="btn btn-primary btn-md btn-block w-25 mb-3">Update</a> <br>
        <a href="#" th:href="@{'/restaurant-delete/'+${restaurantDetails.restaurantId}}" class="btn btn-danger btn-md btn-block w-25">Delete</a>
    </div>
</div>
</body>
</html>