<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Munchies</title>
</head>
<body>
  <div align="center">
    <br>
    <h1>Restaurant List</h1>
    <br>
    <table border="1">
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Address</td>
        <td>Phone</td>
        <td>Menu URL</td>
        <td>Created</td>
        <td>Updated</td>
      </tr>
      <tr th:each="restaurant : ${restaurants}">
        <td th:text="${restaurant.restaurantID}">1</td>
        <td th:text="${restaurant.restaurantName}">2</td>
        <td th:text="${restaurant.restaurantAddress}">3</td>
        <td th:text="${restaurant.restaurantPhoneNumber}">4</td>
        <td th:text="${restaurant.restaurantMenuUrl}">5</td>
        <td th:text="${restaurant.restaurantCreated}">6</td>
        <td th:text="${restaurant.restaurantUpdated}">7</td>
      </tr>
    </table>
  </div>

</body>
</html>